body {
    background-color: rgb(241, 194, 43);
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(to bottom, #c97910, #e6b61b);
  }

h1 {
    text-align: left;
    color: black;
    padding: 30px;
    font-family: Arial, Helvetica, sans-serif;
}

.fotos {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

img {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    border: 5px solid black;
}

